<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jan Černý chemiX" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Honza Černý (chemiX)<br />
        hello&#x00040;honzacerny&#x0002E;com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/chemix/">github.com/chemix</a><br />
        <a href="http://twitter.com/iamchemix/">twitter.com/iamchemix</a><br />
      </p>
    </div>
  </div>
</div>

</body>
</html>
